body{
    
}
header{
    margin-bottom: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
h2{
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800px;
    margin-left: 200px;
}
nav ul li{
    list-style: none;
    margin: 0 50px;
    
}
nav ul{
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
}
span{
    color: orange;
}
a{
    text-decoration: none;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 5px;
}
button{
    background-color: orange;
    border-radius: 5px;
    border: 0;
    color: white;
    padding: 15px 35px;
    text-decoration: none; 
}
.contact-btn{
    color: orange;
    background-color: wheat;
    border-radius: 5px;
    border: 0;
    padding: 10px 35px;
    font-size: 20px;
}
img{
    height: 300px;
    width: 300px;
    margin-top: 20px;
}
.banner{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}
.about{
    text-align: center;
    font-size: 35px;
}
.description{
    font-size: 18PX;
    text-align: justify;
    
}

.main{
    /* margin: 130px 0; */
    max-width: 1140px;
    background-color: bisque;
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}
main{
    margin: 0 auto;
}
.main2{
    display: flex;
    justify-content: space-around;
}
.info-title{
    text-align: center;
}
.info-description{
    font-weight: 700px;
}
#main3{
    max-width: 940px;
    margin: 0 auto;
}
.what{
    text-align: center;
}
#img1,#img2,#img3,#img4{
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sub-main{
    height: 300px;
    width: 250px;
    /* border: 2px solid black; */
    border: 0;
    box-shadow: 10px 10px 30px grey;
    border-radius: 5px;
    padding: 15px;
    gap: 24px;
    margin-bottom: 40px;
}
.main4{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.para{
    text-align: justify;
   
}
.footer{
    display: flex;
    margin-top: 20px;
    background-color: antiquewhite;
    justify-content: space-between;
    padding: 20px;
}
.footer-right{
    width: 50%;
}
.footer-left{
    width: 50%;
}
/* h4{
    text-align: center;
} */
input, textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0 10px 5px ;
    border: 0;
    border-radius: 5px;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 900px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 15px;
}
.edu{
    text-align: center;
}
.main5{
    width: 50%;
}
.main6{
    width: 50%;
}
.des{
    text-align: justify;
}
.last{
    text-align: center;
    background-color: aquamarine;
    padding: 2%;
}